apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflared
data:
  config.yaml: |
    # Ingress configuration for cloudflared tunnel
    # When using TUNNEL_TOKEN, cloudflared will use this config for ingress rules
    ingress:
      # Route ArgoCD traffic
      - hostname: argocd.rlba.in
        service: http://argocd-server.argocd.svc.cluster.local:80
        originRequest:
          noHappyEyeballs: true
          keepAliveConnections: 100
          keepAliveTimeout: 90s
          httpHostHeader: argocd.rlba.in
          tlsTimeout: 10s
          connectTimeout: 10s
          tcpKeepAlive: 30s
          
      
      # Catch-all rule (must be last)
      - service: http_status:404
