apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd
  annotations:
    cert-manager.io/cluster-issuer: 'rlba-issuer'
    argocd.argoproj.io/sync-wave: '9'
    nginx.ingress.kubernetes.io/rewrite-target: '/'
    nginx.ingress.kubernetes.io/ssl-redirect: 'true'
spec:
  ingressClassName: nginx
  rules:
    - host: argocd.rlba.in
      http:
        paths:
          - pathType: Prefix
            path: '/'
            backend:
              service:
                name: argocd-server
                port:
                  number: 80
  tls:
    - hosts:
        - argocd.rlba.in
      secretName: argo-tls-cert
