# apps/platform/cert-manager/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.2
    releaseName: cert-manager
    valuesFile: values.yaml

resources:
  - sealed-cloudflare-secret.yaml
  - cluster-issuer.yaml
  - https://github.com/cert-manager/cert-manager/releases/download/v1.19.2/cert-manager.crds.yaml
