apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  annotations: argocd.argoproj.io/sync-wave:"30"
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetVersion: 80.14.1
    chart: kube-prometheus-stack
    helm:
      releaseName: kube-prometheus-stack
      values: |
        grafana:
          persistence:
            enabled: true
            type: pvc
            size: 10Gi
            storageClassName: rook-ceph-block
            accessModes:
              - ReadWriteOnce

        prometheus:
          prometheusSpec:
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: rook-ceph-block
                  accessModes: ['ReadWriteOnce']
                  resources:
                    requests:
                      storage: 10Gi

        alertmanager:
          alertmanagerSpec:
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: rook-ceph-block
                  accessModes: ['ReadWriteOnce']
                  resources:
                    requests:
                      storage: 10Gi
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: monitoring
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
